*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #5500FF;
  --secondary-color: #FF3300;
  --accent-color: #787878;
}

/* General Styles */
html {
  scroll-behavior: smooth;
  background-color: black;
}

body {
  cursor: url("content/Cursor/cursor.png"), auto;
  height: 100vh;
  overflow-x: hidden;
}

body.mousepressed {
  cursor: url("content/Cursor/cursor-click.png"), auto;
}

.main-content {
  width: 95%; /* Set the main content width to take 90% of the screen */
  padding-left: 10%; /* Compensate for the width of the navbar */
  box-sizing: border-box; /* Include padding in the width calculation */
}

@font-face {
  font-family: 'Pangolin';
  src: url('typography/Pangolin/Pangolin-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  src: url('typography/Ubuntu/Ubuntu-Regular.woff') format('woff');
  src: url('typography/Ubuntu/Ubuntu-MediumItalic.woff') format('woff');
  src: url('typography/Ubuntu/Ubuntu-Medium.woff') format('woff');
  src: url('typography/Ubuntu/Ubuntu-LightItalic.woff') format('woff');
  src: url('typography/Ubuntu/Ubuntu-Light.woff') format('woff');
  src: url('typography/Ubuntu/Ubuntu-Bold.woff') format('woff');
  src: url('typography/Ubuntu/Ubuntu-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Texturina';
  src: url('typography/Texturina/Texturina_48pt-ExtraBold.woff') format('woff');
  /* src: url('typography/Texturina/Texturina_28pt-LightItalic.woff') format('woff');
  src: url('typography/Texturina/Texturina_28pt-Medium.woff') format('woff');
  src: url('typography/Ubuntu/Ubuntu-LightItalic.woff') format('woff');
  src: url('typography/Texturina/Texturina_28pt-MediumItalic.woff') format('woff');
  src: url('typography/Texturina/Texturina_28pt-Regular.woff') format('woff'); */
}

.heading {
  position: fixed;
  text-align: right;
  color: #ffffff;
  text-shadow: 2px 2px black;
  z-index: 5000;
  /* Adjust the values below to control the position */
  bottom: 20px;
  right: 20px;
}

.headings{
  position: fixed;
  text-align: right;
  margin: 0px 0px;
  color: #ffffff;
   /* background-color: #1500ff; */
   text-shadow: 2px 2px black;
   z-index: 5000;
}



.subtext{
  font-family: 'Ubuntu', Italic;
  font-size: 2em;
  letter-spacing: 0.1em;
  color: #ffffff;
  max-width: 100%;
  margin: auto;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #ffffff;
}


h1{
  font-size: 3.2em;
  font-family: 'Ubuntu', Bold Italic;
  letter-spacing: 0.18em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  border-radius: 10px;
  
}

h2{
  font-family: 'Ubuntu', Bold;
  font-size: 2.5em;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

h3{
  font-size: 1.8em;
  color: #ffffff;
  font-family: 'Ubuntu', Italic;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

p{
  font-family: 'Texturina', Italic;
  color: #ffffff;
  font-size: 1.2em;
  line-height: 1.1em;
  text-align: left;
  letter-spacing: 0.09em;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

/* Navbar Styles */
.navbar {
  width: 100%;
  height: 60px;
  /* background-color: var(--primary-color); */
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  z-index: 1; /* Ensure the navbar is on top of other content */
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  display: flex;
}

.navbar ul li {
  font-size: 1.5em;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: left;
  align-items: center;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--secondary-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  padding: 10px;
  display: block;
}

.navbar ul li a:hover {
  border: 1px solid black;
  border-radius: 10px;
  color: var(--accent-color);
  background-color: var(--secondary-color);
}






/* Hamburger Menu Styles */
.hamburger {
  cursor: pointer;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar {
  width: 40px;
  height: 5px;
  background-color: white;
  margin: 4px 0;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px; /* Adjust the top position to match the height of the navbar */
  left: 0;
  width: 100%;
  /* background-color: var(--primary-color); */
  opacity: 0; /* Hide the menu by default */
  pointer-events: none; /* Disable pointer events to make the menu not clickable */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-active {
  opacity: 1;
  pointer-events: auto; /* Enable pointer events when the menu is active */
}

.nav-links li {
  font-size: 1.5em;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: flex-start; /* Align the text to the left */
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: var(--secondary-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  padding: 10px;
  display: block; /* Change from 'display: flex;' to 'display: block;' */
}

.nav-links li a:hover {
  border: 1px solid black;
  border-radius: 10px;
  color: var(--accent-color);
  background-color: var(--secondary-color);
}




/* Home Section */
#home{
  display: flex;
  flex-direction: column;
  height: 840px;
  justify-content: center;
  align-items: center;
}
#home::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url('content/images/cover.png') no-repeat center center/cover;
  height: 900px;
  width: 100%;
  z-index: -1;
  /* opacity: .8; */
}
.main{
  display: flex;
  flex-direction: column;
  align-items: right;
  position: absolute;
  top: 0;
  z-index: -1;
  max-width: 90%;
  margin: auto;
  /* right: 10%; */
  /* background-color: rgb(0, 63, 96); */
}

.ending{
  width: 50%;
  text-align: center;
  margin: 0px 0px;
  color: #FF3562;
   /* background-color: #1500ff; */
}

.btn{
  padding: 10px 35px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  outline: none;
  transition: .6s ease;
  
}
.btn:hover{
  cursor: pointer;
  background-color: white;
  color: black;
  box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
  font-weight: bold;
}

/* About Section */
#about{
  font-size: 1em;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 80px;
  margin-bottom: 50px;
  max-width: 70%;
  margin: auto;
}
#pic{
  display: flex;
}
#pic img{
  width: 575px;
  height: 400px;
}
#intro{
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 10px;
}
#intro h2{
  font-size: 2em;
  margin-bottom: 20px;
}

/* Portfolio Section */
#portfolio{
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  padding: 100px;
}

p.portp {
  line-height: 1.5em;
  font: 'Helvetica';
  font-size: 1.2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 62%;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}
.gallery img{
  width: 20%;
  height: 20%;
  margin: 0px;
}





/* Add CSS for the tooltip */
.gallery-image {
  position: relative;
}

.gallery-image::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 14px;
  border-radius: 4px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.gallery-image:hover::before {
  visibility: visible;
  opacity: 1;
}

/* Add back the existing gallery hover effects */
.gallery-image:hover {
  /* border: 3px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  transition: border 0.3s ease, box-shadow 0.3s ease; */
  filter: hue-rotate(90deg);
}






#modal-container {
  cursor: url("content/Cursor/cursor.png"), auto;
  height: 100vh;
  display: none; /* Set to none by default */
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.modal-image-container {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto; /* Enable scrolling for the image container */
}

.modal-image-container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

.prev-btn,
.next-btn {
  font-family: 'Ubuntu', Bold;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px; /* Increase the padding to make the clickable area larger */
  font-size: 6em;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 11; /* Set a higher z-index to make the buttons appear above the modal */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

.prev-btn {
  left: 0; /* Position the previous button on the left edge of the page */
}

.next-btn {
  right: 0; /* Position the next button on the right edge of the page */
}

.close-btn {
  position: absolute;
  top: -35px;
  right: 0px;
  color: white;
  font-size: 6em;
  cursor: pointer;
  z-index: 12; /* Set a higher z-index to make the close button appear above the modal content and buttons */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

#info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 80px;
  margin-bottom: 50px;
  max-width: 60%;
  margin: auto;
}

p.schools {
  line-height: 1.5em;
  font: 'Helvetica';
  font-size: 1.2em;
}

p.shows {
  line-height: 1.5em;
  font: 'Helvetica';
  font-size: 1.2em;
}

p.internship {
  line-height: 1.5em;
  font: 'Helvetica';
  font-size: 1.2em;
}

p.business {
  line-height: 1.5em;
  font: 'Helvetica';
  font-size: 1.2em;
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: 50%;
}

p.busi {
  font-family: 'Texturina', Italic;
  color:black;
  font-size: 1.2em;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 0.09em;
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: 50%;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  background-color: #ffee00;
  border-radius: 10px;
  border: 10px solid #FF3562;
  padding: 10px;
}

#contact {
  width: 50%;
}

#bpic {
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: 50%;
}

@media only screen and (max-width: 768px) {

  .headings {
    text-align: right;
    font-size: 2em;
  }
  .subtext {
    display: none;
    text-align: right;
    font-size: 1.5em;
  }

/* Hamburger Menu Styles */
.hamburger {
  cursor: pointer;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar {
  width: 50px;
  height: 10px;
  margin: 5px 0;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px; /* Adjust the top position to match the height of the navbar */
  left: 0;
  width: 100%;
  /* background-color: var(--primary-color); */
  opacity: 0; /* Hide the menu by default */
  pointer-events: none; /* Disable pointer events to make the menu not clickable */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-active {
  opacity: 1;
  pointer-events: auto; /* Enable pointer events when the menu is active */
}

.nav-links li {
  font-size: 1.5em;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: flex-start; /* Align the text to the left */
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: var(--secondary-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  padding: 10px;
  display: block; /* Change from 'display: flex;' to 'display: block;' */
}

.nav-links li a:hover {
  border: 1px solid black;
  border-radius: 10px;
  color: var(--accent-color);
  background-color: var(--secondary-color);
}


}

/* color: #262626; */
/* color: #ACBFA4; */
/* color: #96A2FF; */
/* color: #FF3300; */
/* color: #4D5061 */

/* Eerie black
   Ash gray
   Vista blue
   Coquelicot */

   /* color: #5500FF; */